
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title My App

  body
    header
      h1 My App

    main
      block content // This block will be overridden by child templates
        p Default content

    footer
      p Copyright © 2024 My App
